form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  form button {
    padding: 10px;
    background-color: #241b39;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #333;
  }